<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackboxproject.mapper.PostMapper">

	<select id="getPosts" resultType="PostVO">
	<![CDATA[
		SELECT * FROM jnu_post WHERE course_id = #{courseId} AND board_id = #{boardId}
	]]>
	</select>

	<insert id="createPost">
		INSERT INTO jnu_post(course_Id, board_Id, post_Title, post_Content, user_Nick)
		VALUES(#{courseId}, #{boardId}, #{postTitle}, #{postContent}, #{userNick})
		<selectKey resultType="int" keyProperty="postId" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>        
		<!-- Insert후 seq번호를 가져오기 <selectKey keyProperty="idx" resultType="Integer" 
			order="AFTER"> SELECT seq_board_bno.currval FROM dual </selectKey> -->
	</insert>

	<insert id="addFile">
		INSERT INTO jnu_file(file_name, post_id, file_originname, user_nick)
		VALUES(#{fileName}, #{postId}, #{fileOriginname}, #{userNick})

		<!--  LAST_INSERT_ID()
			 -->
	</insert>	
	
	<select id="getPostByPostId" resultType="PostVO">
		SELECT * FROM jnu_post WHERE post_id = #{postId}
	</select>
	
	<select id="getFilesByPostId" resultType="FileVO">
		SELECT * FROM jnu_file WHERE post_id = #{postId}
	</select>
	
	<update id="updatePostView">
		UPDATE jnu_post SET post_view = post_view + 1 WHERE post_id = #{postId}
	</update>
	
	<update id="modifyPost">
		UPDATE jnu_post SET post_content = #{postContent}, post_title = #{postTitle} WHERE post_id = #{postId}
	</update>
	

	<select id="getImageDirectory">
		SELECT * FROM jnu_file WHERE post_id = #{postId}
	</select>
	
	<select id="getLectureList" resultType="PostVO">
		SELECT * FROM jnu_post WHERE board_id = 2 and course_id = #{courseId} ORDER BY post_regdate ASC
	</select>
	
	<select id="getFilePathForLecture" resultType="FileVO">
		SELECT * FROM jnu_file WHERE post_id = #{postId} and file_name = file_originname
	</select>

	<update id="updateReplyCnt">
		update jnu_post set post_replycnt =
		post_replycnt + #{amount} where post_id = #{postId}
	</update>
	

</mapper>


